<div ng-controller="FilterController" class="filter col-md-12">
    <form method="post" action="/addfilter">
        <div class="col-md-12">
            <label for="yearstart">Between years</label>
            <input type="text" name="start" class="form-control" ng-model="start" placeholder="Starting year">
            <br/>
            <input type="text" name="end" class="form-control" ng-model="end" placeholder="Ending year">
        </div>
        <div class="col-md-12">
            <br/>
            <label for="genre">Genre</label>
            <input type="text" name="genre" class="form-control" ng-model="genre" placeholder="Musical">
        </div>
        <div class="col-md-12">
            <br/>
            <label for="keyword">Starring</label>
            <input type="text" name="starring" class="form-control" ng-model="starring" placeholder="eg: Tom Cruise">
        </div>
        <div class="col-md-12">
            <br>
            <button id="submitButton" class="btn btn-default" type="submit" ng-click="filter()">Apply Filters</button>
        </div>
    </form>
</div>