<div ng-controller="HomeController" class="main container">
    <div class="row">
        <div class="col-md-8">
            <div class="col-md-12">
                <div class="col-md-12 page-header">
                    <label for="URL">URL</label>
                    <input type="text" name="URL" class="form-control" ng-model="URL" placeholder="URL">
                    <h2>{{URL}}</h2>
                    <button ng-click="call()"></button>
                    <h2>{{movieData[0].title}}</h2>
                </div>
            </div>
            <div class="col-md-4">
                <img src="{{movieData[0].poster}}" style="max-height:300px;">
            </div>
            <div class="col-md-8">
                <strong>{{movieData[0].runtime}}</strong><br/>
                <strong>{{movieData[0].year}}</strong><br/>
                <strong>Director: {{movieData[0].director}}</strong>
                <h4>{{movieData[0].synopsis}}</h4>
                <h5>Lead Actors: {{movieData[0].stars[0]}}, {{movieData[0].stars[1]}}, {{movieData[0].stars[2]}}</h5>
                <br/>
                <div class="badge" id="scoreid" badge-color>
                    <div>
                        <h1>{{movieData[0].userRating}}</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>